body{
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

.posts{
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
    border: 1px solid #dedede;
    display: block;
}

.post{
    padding: 10px;
    width: 250px;
    border:1px solid #dedede;
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
    margin: auto;
}

.post:hover{
    padding: 10px;
    width: 250px;
    border:1px solid #dedede;
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
    margin: auto;
    background-color: #dedede;
}

.side-bar{
    background-color: #fff;
    padding: 20px;
    border: 1px solid #dedede;
    margin-top: 10px;
}


.bdr-title{
    border-bottom: 1px solid #bcbcbc;
}

.img-responsive{
    height: 100%;
    width: 100%;
}
.nav-link{
    font-size: 25px;
}
.navbar-brand{
    font-size: 30px;
}
h1{
    font-size: 30px;
}

.Navbar-container {
    display: flex;
    background-color: var(--bgBlack);
  }
  
  .Navbar-container img {
    height: 71px;
    padding: 0 71px;
    border-right: 1px solid var(--borderGray);
  }
  .Navbar-container ul {
    display: flex;
    padding: 0;
    margin: 0;
  }
  .Navbar-container ul li {
    font-size: 18px;
    font-weight: 300;
    list-style-type: none;
    color: var(--textWhite);
    padding: 25px 8px 0 19px;
  }
  .Navbar__brand {
    text-decoration: none;
    margin: 0;
    border-right: 1px solid var(--borderGray);
  }
  div{
      margin: auto;
  }

  .Navbar__brand {
    text-decoration: none;
    margin: 0;
    border-right: 1px solid var(--borderGray);
  }
  